<header>
    <link rel="stylesheet" type="text/css"
        href="https://esmadri-veeqo.github.io/CodersCorner/Templates/Header/header.css" />
    <div class="content">
        <hgroup>
            <h1>Coders' Corner</h1>
            <i>Uncover the Secrets of Code, One Byte at a Time</i>
        </hgroup>
    </div>
</header>
<section class="site">
    <nav>
        <a href="">Languages</a>
        <a href="">Tips</a>
        <a href="">Tools</a>
        <a href="">Debugging</a>
    </nav>
</section>