.nl-main h1 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.nl-main h2 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.nl-card pre {
    white-space: pre-wrap;
    text-align: left;
    border: none !important;
    color: none !important;
    background-color: none !important;
    background: none !important;
}

#nl {
    width: auto !important;
    margin: 0 -30px !important;
}