#plain-bg  {
    width: calc(100% + 8vh)!important;
    margin: 0 -4vh !important;
    max-width: calc(100% + 8vh)!important;
}

.nl-main h1 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.nl-main h2 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.nl-main p {
    font-size: 1.2em !important;
}

.nl-card pre {
    white-space: pre-wrap;
    text-align: left;
    border: none !important;
    color: unset !important;
    background-color: none !important;
    background: none !important;
}

#nl {
    max-width: 1000px !important;
    margin: -30px auto auto !important;
    background: none;  
    /* Comment if want other style */
}

.nl-main {
    max-width: 900px !important;
}
